
h1{
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
}

body{
    color: darkorange;

}
body {
    background-color: black;
}

#sect1{
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 50px;
}
#table1{
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 50px;
}
#table2{
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
}
